{% extends "_base.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}

<section>
  <div class="page-header">
    <h1>Demographics Lookup Batches</h1>

    <form method="GET" id="searchForm" class="form-horizontal" action="{{ url_for('ui.index') }}">

        <div class="input-group">
            {{ searchForm.search(class="form-control", placeholder="enter text to search batch names") | safe }}
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary">Search</button>
                <a class="btn btn-primary" href="{{ url_for('ui.index') }}">Clear Search</a>
            </div>
        </div>
      </form>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date Uploaded</th>
      </tr>
    </thead>
    <tbody>
    {% for b in batches.items %}
      <tr>
        <td>
          {{ b.name }}
        </td>
        <td>
          {{ b.created_date | date_format }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>  
</section>

{{ formhelper.render_pagination(batches, 'ui.index', search=searchForm.search.data) }}

{% endblock %}