{% extends "_base.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}

<section>
  <h2>Demographics Lookup Jobs</h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for b in batches.items %}
      <tr>
        <td>
          {{ b.name }}
        </td>
        <td>
          {{ Something }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>  
</section>

{{ formhelper.render_pagination(batches, 'ui.index', search=searchForm.search.data) }}

{% endblock %}