{% extends "_base.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}

<section>
  <div class="page-header">
    <h1>Demographics Lookup Batches</h1>

    <form method="GET" id="searchForm" class="form-horizontal" action="{{ url_for('ui.index') }}">

        <div class="input-group">
            {{ searchForm.search(class="form-control", placeholder="enter text to search batch names") | safe }}
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary">Search</button>
                <a class="btn btn-primary" href="{{ url_for('ui.index') }}">Clear Search</a>
            </div>
        </div>
      </form>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date Uploaded</th>
        <th>Columns</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for b in batches.items %}
      <tr>
        <td>
          {{ b.name }}
        </td>
        <td>
          {{ b.created_date | date_format }}
        </td>
        <td>
          {{ b.columns | length }}
        </td>
        <td class="text-right">
          <a class="btn btn-primary" href="{{ url_for('ui.edit_mappings', batch_id=b.id) }}">Edit Mappings</a>
          <a class="btn btn-primary" data-toggle="modal" data-target="#deleteBatchModal" data-id="{{ b.id }}">Delete</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</section>

<!-- Delete Confirmation Dialog -->
<div class="modal fade" id="deleteBatchModal" tabindex="-1" role="dialog" aria-labelledby="deleteBatchModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="deleteBatchModalLabel">Delete Batch</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          Are you sure you want to delete this batch?
      </div>
      <div class="modal-footer">
          <form action="{{ url_for('ui.delete') }}" method="POST">
              {{ confirm_form.hidden_tag() }}
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
          </form>
      </div>
      </div>
  </div>
</div>

{{ formhelper.render_pagination(batches, 'ui.index', search=searchForm.search.data) }}

{% endblock %}

{% block js %}
<script>
    $('#deleteBatchModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var id = button.data('id')

        var modal = $(this)
        modal.find('.modal-footer input#id').val(id)
    })
</script>
{% endblock %}
